.contact-single {
  border: 3px solid black;
  margin: 5px;
  width: 300px;
  list-style: none;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}

.icon-gender {
  font-size: 25px;
  padding: 1px;
}

p {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 1px;
}
